doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        block head
        title
            block title
        style
            include ../static/base.css
            block style
    body
        nav#basenav
            div#logodiv
                a(href="/index") #[img(src="../static/images/logo.png", alt="Logo" id="logoimg")]
        block body
        footer#footer
            | Copyright © 2022 Mom's Kitchen | All Rights Reserved.
        script
            block script